#####################################################################
#      X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PC8
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PC9                                                     # Check motor direction in link above. If inverted, add a ! before gpio10
enable_pin: !PA15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: tmc2240_stepper_x:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 40 
second_homing_speed: 40 
min_home_dist: 15
homing_retract_dist: 15
homing_positive_dir: true
use_sensorless_homing: true

[tmc2240 stepper_x]
cs_pin: PD9
spi_bus: spi2
diag0_pin: ^!PD3
rref: 12000
interpolate: true
run_current: 0.7     
home_current: 0.49
# you need to calculate the run_current value using the equation (rated_motor_current * 0.707 = Maximum_run_current) start with a value that is about 60%-70% of your maximum value.
#stealthchop_threshold: 1                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle   												
#driver_SGT: 1



[tmc2240 stepper_y]
cs_pin: PD8
spi_bus: spi2
diag0_pin: ^!PD2
rref: 12000
interpolate: true
run_current: 0.7
home_current: 0.49
# you need to calculate the run_current value using the equation (rated_motor_current * 0.707 = Maximum_run_current) start with a value that is about 60%-70% of your maximum value.
#stealthchop_threshold: 1                                          # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle   												
#driver_SGT: 1

[stepper_y]
step_pin: PA10
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: PA14                                                # Check motor direction in link above. If inverted, add a ! before gpio5
enable_pin: !PA13
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200                                        # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: tmc2240_stepper_y:virtual_endstop
position_endstop: 120
position_max: 120
homing_speed: 40                                                    # for sensorless homing it is recommended not to go above 40mm/s  
second_homing_speed: 40 
min_home_dist: 15
homing_retract_dist: 15
homing_positive_dir: True
use_sensorless_homing: true
#####################################################################
#   Z Stepper Settings
#####################################################################


[tmc2240 stepper_z]
cs_pin: PB10
spi_bus: spi2
interpolate: true
## Formbot Moons 
# rated_motor_current * 0.707 * .65 = 0.65 * 0.707 * 0.65 = 0.30
run_current: 0.30
rref: 12000
#stealthchop_threshold: 999999                                            # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle


[tmc2209 extruder]
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: True
run_current: 0.6 #***
sense_resistor: 0.100 
stealthchop_threshold: 0  

#####################################################################
#   TMC Autotune
#####################################################################
[autotune_tmc stepper_x]
motor: moons-ms14hs5p4150
sgt:2
tuning_goal: auto

[autotune_tmc stepper_y]
motor: moons-ms14hs5p4150
sgt:1
tuning_goal: auto

[autotune_tmc stepper_z]
motor: moons-le174s-t0808-200-ar3-s-065
tuning_goal: silent

# [autotune_tmc extruder]
# motor: ldo-36sth20-1004ahg
# tuning_goal: auto
