
    
[gcode_macro chamber_on]
gcode:
  #SET_LED LED=chamber RED=0.9882 GREEN=0.4431 BLUE=0.098 warm white
  SET_LED LED=chamber RED=1 GREEN=0.77 BLUE=0.56 #Startup white
[gcode_macro chamber_off]
gcode:
 SET_LED LED=chamber RED=0 GREEN=0 BLUE=0
 
[gcode_macro headlight_on]
gcode:
  SET_LED LED=headlight RED=0.8 GREEN=0.8 BLUE=0.8 
  
[gcode_macro headlight_off]
gcode:
  SET_LED LED=headlight RED=0 GREEN=0 BLUE=0 
  
[gcode_macro CLEAR_TEMPERATURE_LED]
description: Set one or more neopixels to stop tracking a temperature and return to normal operation
gcode:
  {% set led = params.LED %}
  {% set index = params.INDEX %}
  SET_LED_TEMPLATE LED={led}{% if index is defined %} INDEX={index}{% endif %} TEMPLATE=

[gcode_macro Print_Completed]
gcode:
    SET_LED LED="bed_logo" RED=0 GREEN=1 BLUE=0 WHITE=0 SYNC=0 TRANSMIT=1